@{
    ViewData["Title"] = "WeatherWise";
}
@model List<WeatherWise_front.Models.Country>

<div class="text-center">
   @if (User.Identity.IsAuthenticated)
    {
            <span>teste</span>
    }

    <select id="countrySelect" onchange="fetchWeather()">
        <option value="">Selecione o pais</option>
        @foreach (var country in Model)
        {
            <option value="@country.Alpha2Code">@country.Name</option>
        }
    </select>
    <div id="weatherResult"></div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        console.log('luiz');
        const countries = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        async function fetchWeather() {
            const select = document.getElementById('countrySelect');
            const countryCode = select.value;
            const selectedCountry = countries.find(country => country.Alpha2Code === countryCode);// mostar na tela sem temperatura

            const countryName = selectedCountry.Name;
            const capitalArray = selectedCountry.Capital ? JSON.parse(selectedCountry.Capital) : [];
            const capital = capitalArray.length > 0 ? capitalArray[0] : ''
            if (countryName && capital) {

                try {
                    const response = await axios.get(`https://localhost:7055/WeatherForecast?country=${countryName}&capital=${encodeURIComponent(capital)}`, {
                        headers: {
                            'accept': '*/*'
                        }
                    });

                    // Exibir os resultados
                    document.getElementById('weatherResult').innerHTML = JSON.stringify(response.data, null, 2);
                } catch (error) {
                    console.error('Erro ao buscar o clima:', error);
                    document.getElementById('weatherResult').innerHTML = 'Erro ao buscar o clima.';
                }
            } else {
                document.getElementById('weatherResult').innerHTML = '';
            }
        }
    </script>
}